.navbar-brand {

    font-size : 2em;
}

#navbarNav {
    justify-content: flex-end;
}

.active, .btn-mustard {
    background-color: #F0C31D;
}

u {
    color: #F0C31D;
}

.category {
    color: lightgrey;
}

.font_archive {
    color : grey;
}

.max_bar {
    background-color : lightgrey;
    height: 5px;
    width : 100%;
    
}

.progress_bar {
    background-color : #F0C31D;
    height : 5px;
}
 .progress_bar_archive {
     background-color: grey;
 }


